//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$font-hiragino: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$font-avenir: 'Avenir', sans-serif;
$base-font-family: $font-hiragino;
$alt-font-family: $font-avenir;
$base-font-size: 14px;
$base-font-color: #393939;
$base-background-color: #fff;

// Color Palette
$color-white: #fff !default;
$color-black: #000 !default;
$color-medium-black: #393939 !default;
$color-yellow: #fabf14 !default;
$color-dark-yellow: #fdb834 !default;
$color-orange: #f7954d !default;
$color-light-gray: #f2f2f0 !default;
$color-dark-gray: #d9d6d6 !default;
$color-darkest-gray: #929292 !default;
$color-red: #ec1b42 !default;
$color-light-red: #ff8181 !default;

// Path
$path-image: "../img/";
$path-font: "../fonts/";

// Breakpoint
$breakpoint-mobile: 768px;

// Animation
$duration: 0.25s;
$easing: ease-in-out;
$easing-cubic: cubic-bezier(.51,.3,0,.99);
$dealy: 0.35s;

// Z-index
$z-neg: -1;
$z-min: 1;
$z-min2: 2;
$z-max: 20;

// Etc
$opaque: 0.7;
$site-size: 1060px;
$gradient: linear-gradient(to right, $color-dark-yellow, $color-orange);
$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$alt-shadow: 0px 0px 60px 0px rgba(57, 57, 57, 0.2);
$alt2-shadow: 0px 18px 38px 0px rgba(0, 0, 0, 0.15);
