/************************************************
	************************************************
									Users left side
	************************************************
************************************************/

.chat-users {
  position: relative;
  padding: 1rem 0;
  border-right: 1px solid #e6ecf3;
  height: 100%;
  display: flex;
  flex-direction: column;

  .chat-person {
    position: relative;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #f0f4f8;

    &:hover {
      background-color: #ffffff;
      background-image: linear-gradient(to left, #e9eff5, #ffffff);
    }

    &.active-user {
      background-color: #ffffff;
      background-image: linear-gradient(to left, #f7f9fb, #ffffff);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .chat-user {
    display: inline-block;
    position: relative;
    margin-right: 10px;
  }
  
  .chat-user img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
  }
  
  .chat-new {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: #fd7274;
    position: absolute;
    top: 0;
    right: 0;
  }

  .chat-date {
    display: inline-block;
    font-weight: 600;
    font-size: .85rem;
  
    time {
      font-weight: 400;
      font-size: .7rem;
      text-align: right;
      color: #8796af;
    }
  }

  .chat-actions {
    position: absolute;
    right: 1rem;
    top: calc(50% - 6px);
  }
}

/************************************************
	************************************************
									Chat right side
	************************************************
************************************************/

.selected-user {
  width: 100%;
  padding: 0 15px;
  min-height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #e6ecf3;
  border-radius: 0 3px 0 0;
}

.selected-user-name {
  font-weight: 700;
}

.chat-tab {
  position: relative;

  .chat-left,
  .chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 40px;
  }

  img {
    width: 48px;
    height: 48px;
    border-radius: 30px;
  }

  .chat-avatar {
    margin-right: 20px;
  }

  .chat-name {
    font-size: .75rem;
    color: #999999;
    text-align: center;
  }

  .chat-text {
    padding: .4rem 1rem;
    border-radius: 4px;
    background: #ffffff;
    font-weight: 300;
    line-height: 150%;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 10px;
      left: -20px;
      border: 10px solid;
      border-color: transparent #ffffff transparent transparent;
    }
  }

  .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;
  }

  .chat-left .chat-text {
    background-color: $primary;
    color: $light;
  
    &:before {
      border-color: transparent $primary transparent transparent;
    }
  }

  .chat-right {
    justify-content: flex-end;

    >.chat-avatar {
      margin-left: 20px;
      margin-right: 0;
    }

    >.chat-text {
      text-align: right;

      &:before {
        right: -20px;
        border-color: transparent transparent transparent #ffffff;
        left: inherit;
      }
    }

    >.chat-hour {
      margin: 0 15px 0 0;
    }
  }
}
