.nav {
  &.nav-pills {
    .nav-link.active {
      box-shadow: $box-shadow-button;
    }
  }

  &.nav-users {
    .nav-link.active {
      background-color: rgba($primary, 0.8);
      color: $light;

      time {
        color: #333;
      }
    }
  }
}

.navbar {
  $awesome-color: #fccc55;
  &.navbar-gradient {
    background-color: $awesome-color;
    background-image: linear-gradient(180deg, darken($awesome-color, 15%) 10%, $awesome-color 100%);
    background-size: cover;
  }
}
