.step {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0 15px;
}

.step-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;

  background-color: #eff2f0;

  &.is-active {
    background-image: linear-gradient(to right, $app-color-dark-yellow, $app-color-orange);
  }
}
