.\34 04 {
  text-align: center;
}

.\34 04__logo {
  width: 300px;
  margin: 0 auto 50px;
}

.\34 04__logo-image {
  width: 100%;
}

.\34 04__desc {
  font-size: 18px;
  letter-spacing: 0.06em;
}

.\34 04__button {
  margin-top: 25px;
}
