.avatar {
  height: 50px;
  width: 50px;

  border-radius: 50%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.avatar--header {
  border: solid 3px $color-white;
  box-shadow: $shadow;

  transition: border $duration $easing-cubic;

  @include max-screen($breakpoint-mobile) {
    height: 36px;
    width: 36px;

    border-width: 2px;
    box-shadow: 0px 0px 6px 0px rgba(57, 57, 57, 0.5);
  }

  &.is-active {
    border-color: $color-dark-yellow;
  }
}

.avatar--profile {
  width: 130px;
  height: 130px;
}

.avatar--seeker {
  width: 90px;
  height: 90px;

  @include max-screen($breakpoint-mobile) {
    width: 60px;
    height: 60px;
  }
}

.avatar--message {
  width: 70px;
  height: 70px;
}

.avatar--button {
  position: relative;
  overflow: hidden;
}
