.avatar {
  height: 50px;
  width: 50px;

  border-radius: 50%;
  background-size: cover;

  &.avatar--header {
    border: solid 3px $color-white;
    box-shadow: $shadow;
  }

  &.avatar--profile {
    width: 130px;
    height: 130px;
  }
}
