.badge {
  font-family: $alt-font-family;
  font-size: 13px;
  color: $color-white;
  text-align: center;

  height: 18px;
  padding: 3px 2px;
  background-color: $color-red;
}

.badge--bell {
  position: absolute;
  top: -10px;
  left: 50%;
}
