.button {
  font-size: 16px;
  color: $color-white;
  letter-spacing: 0.12em;

  display: inline-block;
  border-radius: 30px;
  padding: 9px 30px;
  outline: 0;

  cursor: pointer;

  background-image: $gradient;

  transition: opacity $duration $easing-cubic;

  &:hover {
    opacity: 0.7;
  }

  &.is-disabled {
    background: $color-dark-gray;
    pointer-events: none;
  }
}

.button--small {
  font-size: 14px;

  height: 30px;
  padding: 0 21px;
}

.button--large {
  font-size: 20px;

  padding: 10px 27px;
}

.button--icon {
  display: inline-flex;
  align-items: center;

  i {
    margin-right: 10px;
  }
}

.button--link {
  padding: 0;
  background: transparent;
}

.button--pill {
  font-size: 14px;
  color: $color-medium-black;
  letter-spacing: 0.12em;

  padding: 0;
  background: transparent;

  padding: 3px 12px 3px 12px;
  border: solid 1px $color-dark-yellow;

  i {
    font-size: 12px;

    margin-right: 4px;
  }
}

.button--profile {
  font-size: 14px;
  letter-spacing: 0.06em;
  color: $color-dark-yellow;
  text-decoration: underline;

  padding: 0;
  background: transparent;
}

.button--more {
  font-size: 16px;
  letter-spacing: 0.12em;
  color: $color-dark-yellow;
  text-decoration: underline;

  padding: 0;
  background: transparent;
}

.button--outline {
  color: $color-dark-yellow;

  border: solid 1px $color-dark-yellow;
  background: none;
}

.button--link-form {
  font-size: 14px;
  color: $color-dark-gray;
  letter-spacing: 0.06em;

  margin-top: 15px;
}

.button--avatar {
  font-size: 14px;
  letter-spacing: 0.06em;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  padding: 6px 10px 18px;
  border-radius: 0;

  i {
    font-size: 12px;

    margin-right: 4px;
  }
}

.button--eyecatch {
  font-size: 14px;
  letter-spacing: 0.06em;

  border-radius: 0 0 0 20px;
  padding: 15px 20px;

  i {
    font-size: 12px;

    margin-right: 4px;
  }
}

.button--cto {
  font-size: 20px;
  font-weight: 700;
  color: $color-medium-black;

  margin: 0 10px;
  padding: 60px 0 58px;
  width: 100% !important;

  border: solid 1px $color-dark-yellow;
  border-radius: 10px;
  background: none;
}
