.company-sidebar {
  display: flex;
  flex-direction: column;

  width: 300px;
  flex: 0 0 300px;
  align-self: stretch;

  background-color: $color-medium-black;

  @include max-screen($breakpoint-mobile) {
    display: none;
  }
}

.company-sidebar__menu {
  padding: 50px 0;
}

.company-sidebar__menu-item {
  a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: $color-dark-gray;

    display: block;
    padding: 23px 0 23px 60px;

    &.is-active {
      color: $color-white;
      background-color: #313232;
    }
  }
}
