.dropdown {
  position: absolute;
  top: 86px;
  right: 22px;

  background-color: $color-white;
  box-shadow: $alt2-shadow;
  border-radius: 4px 0 4px 4px;

  width: 300px;
  z-index: $z-neg;

  opacity: 0;
  transform: translateY(15px);

  transition: opacity $duration $easing-cubic,
    transform $duration $easing-cubic;

  &:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;

    position: absolute;
    top: -30px;
    right: 0;

    border-style: solid;
    border-width: 0 0 30px 25px;
    border-color: transparent transparent $color-white transparent;
  }

  a {
    pointer-events: none;
  }

  &.is-active {
    opacity: 1;
    transform: translateY(0);

    z-index: $z-max;

    a {
      pointer-events: auto;
    }
  }
}

.dropdown__menu {
  padding: 18px 25px;
}

.dropdown__menu-item {
  text-align: center;

  border-top: solid 0.5px $color-light-gray;

  &:first-child {
    border-top: 0;
  }

  a {
    color: $color-medium-black;
    letter-spacing: 0.06em;

    padding: 22px 15px;
    transition: none !important;
    cursor: pointer;

    &:hover {
      opacity: 1 !important;

      color: $color-white;
      background-image: $gradient;
    }

    &.is-active {
      color: $color-white;
      background-color: rgba($color-dark-yellow, 0.5);

      pointer-events: none;
    }
  }
}
