.dropdown {
  position: absolute;
  right: 0;

  background-color: $color-white;
  box-shadow: $shadow;
  border-radius: 4px;

  width: 180px;
  z-index: $z-max;

  opacity: 0;
  transform: translateY(15px);

  transition: opacity $duration $easing,
    transform $duration $easing;

  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown__menu {
  padding: 5px 0;
}

.dropdown__menu-item {
  a {
    color: $color-medium-black;
    letter-spacing: 0.06em;

    padding: 8px 15px;
    transition: none !important;
    cursor: pointer;

    &:hover {
      opacity: 1 !important;

      color: $color-white;
      background-color: $color-dark-yellow !important;
    }

    &.is-active {
      color: $color-white;
      background-color: rgba($color-dark-yellow, 0.5);

      pointer-events: none;
    }
  }
}
