.filter {
  display: flex;
  flex-direction: column;

  width: 280px;
  flex: 0 0 280px;
  align-self: stretch;
}

.filter__header {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-white;

  position: relative;
  padding: 11px;
  background-color: $color-medium-black;
}

.filter-content {
  flex: 1;
  margin-top: 13px;

  background-color: $color-light-gray;
}

.filter-content__list {
  list-style: none;
}

.filter-content__list-item {
  padding: 20px;
  border-top: solid 1px $color-white;

  &:first-child {
    border-top: none;
  }
}

.filter-content__header {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.06em;

  margin-bottom: 12px;

  > i {
    margin-right: 10px;
  }
}
