.footer {}

.footer__heading {
  font-family: $alt-font-family;
  font-weight: 900;
  font-size: 24px;
  color: $color-white;
  letter-spacing: 0.2em;

  @include max-screen($breakpoint-mobile) {
    font-size: 25px;
  }
}

.footer__copyright {
  font-family: $alt-font-family;
  font-weight: 500;
  font-size: 12px;
  color: $color-white;
  letter-spacing: 0.1em;

  @include max-screen($breakpoint-mobile) {
    font-size: 11px;
  }
}

.footer__menu {
  display: flex;
  justify-content: center;

  margin-top: 30px;

  @include max-screen($breakpoint-mobile) {
    flex-wrap: wrap;

    max-width: 375px;
    margin: 26px auto;
  }
}

.footer__menu-item {
  margin: 0 17px;

  a {
    display: block;
    color: $color-white;
    letter-spacing: 0.1em;

    transition: opacity $duration $easing-cubic;

    &:hover {
      opacity: 0.7;
    }

    &.is-active {
      border-bottom: solid 1px $color-white;
    }
  }

  @include max-screen($breakpoint-mobile) {
    font-size: 12px;

    margin: 0 13px 10px;
  }
}

.footer__menu-item--external {
  @include max-screen($breakpoint-mobile) {
    order: 1;
  }
}

.footer__sns {
  display: flex;
  justify-content: center;

  margin-top: 35px;
  padding-bottom: 3px;

  @include max-screen($breakpoint-mobile) {
    margin-top: 52px;
  }
}

.footer__sns-item {
  margin: 0 7px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px $color-white;

    font-size: 18px;
    color: $color-white;

    transition: opacity $duration $easing-cubic;

    &:hover {
      opacity: 0.7;
    }
  }

  @include max-screen($breakpoint-mobile) {
    margin: 0 18px;

    a {
      font-size: 22px;

      height: 50px;
      width: 50px;
    }
  }
}
