// TODO: TO BE REFACTORED

.form {
  display: block;
}

.form__group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form__group--search {
  right: 35px;

  @include max-screen($breakpoint-mobile) {
    right: 20px;
  }
}

.form__group-append {
  position: absolute;
  right: 1.2rem;

  @include max-screen($breakpoint-mobile) {
    right: 0.6rem;
  }
}
