.header {}

.header__logo {
  width: 214px;
  margin-right: 50px;

  a {
    display: block;
    transition: opacity $duration $easing-cubic;

    &:hover {
      opacity: 0.7;
    }
  }

  @include max-screen($breakpoint-mobile) {
    width: 30px;
    margin-right: 0;
  }
}

.header__logo-image {
  width: 100%;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__actions-item {
  position: relative;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    transition: opacity $duration $easing-cubic;

    &:hover {
      opacity: 0.7;
    }
  }

  i {
    position: relative;
    font-size: 16px;

    &.icon-bell {
      font-size: 18px;
    }
  }

  @include max-screen($breakpoint-mobile) {
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }
  }
}
