.heading {
  text-align: center;

  padding: 55px 0 60px;
  background-color: $color-light-gray;

  @include max-screen($breakpoint-mobile) {
    padding: 40px 0 45px;
  }
}

.heading--user,
.heading--job {
  position: relative;
  margin: 0 60px 125px;
  padding: 0;
  height: 420px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include max-screen($breakpoint-mobile) {
    margin: 0 0 125px;
    height: 250px;
  }
}

.heading__title {
  font-family: $alt-font-family;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.1em;

  color: $color-dark-yellow;

  @include max-screen($breakpoint-mobile) {
    font-size: 25px;

    margin-bottom: 8px;
  }
}

.heading__title-jp {
  font-weight: 900;
  letter-spacing: 0.06em;
}

.heading__user {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: -125px;
  left: 60px;

  height: 250px;
  padding: 0 50px;
  width: calc(100% - 120px);

  background-color: rgba($color-white, 0.95);
  box-shadow: 0px 0px 60px 0px rgba(57, 57, 57, 0.2);

  @include max-screen($breakpoint-mobile) {
    flex-direction: column;

    left: 20px;
    bottom: -210px;

    padding: 90px 30px 0;
    height: 355px;
    width: calc(100% - 40px);
  }
}

.heading__user-main {
  flex: 1;

  margin-top: -8px;
  margin-left: 48px;
  text-align: left;

  @include max-screen($breakpoint-mobile) {
    margin-top: 16px;
    margin-left: 0;
    text-align: center;

    width: 100%;
  }
}

.heading__user-name {
  font-size: 30px;
  letter-spacing: 0.06em;

  @include max-screen($breakpoint-mobile) {
    font-size: 20px;
  }
}

.heading__user-position {
  font-size: 20px;
  letter-spacing: 0.06em;

  padding-top: 18px;
  margin-top: 12px;
  min-height: 45px;
  border-top: solid 1px $color-dark-gray;

  i {
    margin-right: 16px;
  }

  @include max-screen($breakpoint-mobile) {
    font-size: 14px;

    margin-top: 7px;
    padding-top: 15px;

    i {
      margin-right: 12px;
    }
  }
}

.heading__user-position-location {
  font-weight: 700;

  margin-right: 15px;
}

.heading__user-pill {
  position: absolute;
  top: calc(50% - 48px);
  right: 50px;

  @include max-screen($breakpoint-mobile) {
    top: 30px;
    right: 30px;
  }
}

.heading__user-button {
  position: absolute;
  top: calc(50% - 70px);
  right: 50px;

  @include max-screen($breakpoint-mobile) {
    // TODO
  }
}

.heading__user-fav {
  position: absolute;
  top: calc(50% + 20px);
  right: 50px;

  @include max-screen($breakpoint-mobile) {
    // TODO
  }
}

.heading__job {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: calc((100% - 131px) * -1);
  left: 60px;

  height: auto; //? auto
  padding: 45px 50px 56px;
  width: calc(100% - 120px);

  background-color: rgba($color-white, 0.95);
  box-shadow: 0px 0px 60px 0px rgba(57, 57, 57, 0.2);

  @include max-screen($breakpoint-mobile) {
    flex-direction: column;

    left: 20px;
    bottom: -210px; //? -210px

    padding: 60px 30px 0; // ?
    height: 390px; //? 355px
    width: calc(100% - 40px);

  }
}

.heading__job-main {
  flex: 1;

  text-align: left;
}

.heading__job-time {
  font-size: 16px;
  color: $color-dark-gray;
  letter-spacing: 0.06em;

  @include max-screen($breakpoint-mobile) {
    font-size: 12px;
  }
}

.heading__job-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.667;
  letter-spacing: 0.06em;

  max-width: 60%;
  margin: 10px 0 15px;

  @include max-screen($breakpoint-mobile) {
    font-size: 20px;
    max-width: none;
    margin: 15px 0 15px;
    letter-spacing: 0.09em;
  }
}

.heading__job-company {
  display: flex;
  align-items: center;

  padding-bottom: 30px;
  margin-bottom: 32px;
  border-bottom: solid 1px  $color-dark-gray;

  > img {
    flex: 0 0 32px;

    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}

.heading__job-company-name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: $color-medium-black;

  flex: 1;
  margin-left: 16px;

  @include max-screen($breakpoint-mobile) {
    font-size: 13px;
  }
}

.heading__job-pills {
  display: flex;
}

.heading__job-pills-item {
  margin-right: 12px;

  @include max-screen($breakpoint-mobile) {
    margin-right: 5px;
  }
}

.heading__job-button {
  position: absolute;
  bottom: 150px;
  right: 50px;

  @include max-screen($breakpoint-mobile) {
    bottom: 307px;
    right: 30px;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 42px;
  }
}

.heading__job-fav {
  position: absolute;
  bottom: 56px;
  right: 50px;

  @include max-screen($breakpoint-mobile) {
    bottom: 62px;
    right: 30px;
  }
}

.heading__edit {
  position: absolute;
  right: 0;

  @include max-screen($breakpoint-mobile) {
    // TODO
  }
}
