.help {}

.help__item {
  padding: 30px 30px 25px;
  margin-top: 20px;
  border: solid 1px $color-dark-gray;

  &:first-child {
    margin-top: 0;
  }

  @include max-screen($breakpoint-mobile) {
    padding: 26px 15px;
  }
}

.help__item-question {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;

  position: relative;

  &:before {
    content: '質問';
    font-size: 14px;
    font-weight: 400;
    color: $color-white;

    margin-right: 8px;
    padding: 3px 5px;
    background-color: $color-dark-yellow;
  }
}

.help__item-answer {
  letter-spacing: 0.06em;
  line-height: 1.857;

  padding-top: 20px;
  margin-top: 18px;
  border-top: solid 1px #d9d6d6;

  @include max-screen($breakpoint-mobile) {
    padding-top: 14px;
    margin-top: 14px;
  }
}

.help__item-note {
  letter-spacing: 0.06em;
  color: rgba($color-medium-black, 0.5);

  display: block;
  margin-top: 10px;
}
