.job {
  display: flex;
  align-items: flex-start;

  @include max-screen($breakpoint-mobile) {
    flex-direction: column;
  }
}

.job__main {
  flex: 1;
  align-self: stretch;

  margin-right: 60px;

  @include max-screen($breakpoint-mobile) {
    margin-right: 0;
  }
}

.job__sidebar {
  display: flex;
  flex-direction: column;

  width: 300px;
  flex: 0 0 300px;
  align-self: stretch;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
  }
}

.job__sidebar-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.job__sidebar-header {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-white;

  position: relative;
  padding: 11px;
  background-color: $color-medium-black;
}

.job__sidebar-content {
  flex: 1;
  margin-top: 13px;
  padding: 35px 32px 38px;

  background-color: $color-light-gray;
}

.job__sidebar-content-company {
  margin: 0 -32px;
}

.job__sidebar-content-company-items {
  border-top: solid 1px $color-white;
  padding: 35px 32px;

  &:first-child {
    padding-top: 0;
    border-top: none;
  }
}

.job__sidebar-content-avatar {
  text-align: center;

  > img {
    width: 65px;
    height: 65px;
    margin: 20px 0 13px 0;

    object-fit: cover;
  }
}

.job__sidebar-content-avatar-name {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.job__sidebar-content-misc {
  display: flex;
  align-items: flex-start;

  margin-top: 18px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  > i {
    font-size: 20px;
    margin-right: 20px;
  }
}

.job__sidebar-content-misc-copy {
  line-height: 1.857;
  letter-spacing: 0.06em;

  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
}

.job__main-data {
  margin-bottom: 70px;
}

.job__main-heading {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 13px;
  margin-bottom: 35px; //? 35px

  @include max-screen($breakpoint-mobile) {
    flex-direction: column;
  }
}

.job__main-heading--left {
  justify-content: flex-start;
  border-bottom: solid 1px $color-dark-gray;

  padding: 17px 0 13px;
  margin-bottom: 35px; //? 35px

  > h3 {
    font-size: 24px;
  }

  @include max-screen($breakpoint-mobile) {
    flex-direction: row;
  }
}

.job__main-heading-en {
  font-family: $alt-font-family;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: $color-dark-yellow;

  margin-right: 12px;

  @include max-screen($breakpoint-mobile) {
    margin-right: 0;
    font-size: 20px;
  }
}

.job__main-heading-title {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.06em;

  display: inline-block;

  @include max-screen($breakpoint-mobile) {
    font-size: 18px;
  }
}

.job__main-images {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin: -18px 0 34px;

  @include max-screen($breakpoint-mobile) {
    flex-direction: column;
    margin: -18px 0 0;
  }
}

.job__main-images-holder {
  position: relative;
  width: 48%;
  max-height: 200px;

  &:before {
    content: '';
    padding-top: 60%;
    display: block;
  }

  @include max-screen($breakpoint-mobile) {
    max-height: none;
    width: 100%;
    margin-bottom: 30px;
  }
}

.job__main-images-holder--full {
  width: 100%;
  max-height: 350px;
}

.job__main-images-holder-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
}

.job__main-desc {
  line-height: 1.857;
  letter-spacing: 0.06em;
  white-space: pre-line;
}

.job__main-description {
  line-height: 1.857;
  letter-spacing: 0.06em;
  white-space: pre-line;

  > ul {
    padding: 10px 0 4px;
    line-height: 0;

    > li {
      line-height: 1.857;
      letter-spacing: 0.06em;

      position: relative;
      padding-left: 37px;
      margin-top: 11px;

      &:first-child {
        margin-top: 0;
      }

      &:before {
        content: '';
        position: absolute;
        left: 15px;
        top: 9px;

        height: 8px;
        width: 8px;
        background: $color-dark-yellow;
      }
    }
  }
}

.job__main-list {
  padding: 10px 0 4px;
}

.job__main-list--table {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  padding: 0;
  margin-top: -5px;
  border: solid 1px $color-dark-gray;
}

.job__main-list-term {
  font-weight: 700;
  letter-spacing: 0.06em;
  color: $color-white;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0;
  width: 23%;
  flex: 0 0 23%;

  border-top: solid 1px $color-dark-gray;
  background-color: $color-medium-black;

  &:nth-of-type(1) {
    border-top: none;
  }

  @include max-screen($breakpoint-mobile) {
    width: 43%;
    flex: 0 0 43%;
    justify-content: flex-start;
    padding: 20px 15px;
  }
}

.job__main-list-data {
  line-height: 1.857;
  letter-spacing: 0.06em;
  white-space: pre-line;

  display: inline-flex;
  align-items: center;
  padding: 17px 18px;
  width: 75%;
  flex: 1 0 75%;

  border-top: solid 1px $color-dark-gray;

  &:nth-of-type(1) {
    border-top: none;
  }

  > dl {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex: 1;

    margin: -17px -18px;

    > dt {
      font-weight: 700;

      display: inline-flex;
      justify-content: center;
      width: 27.5%;
      padding: 12.5px 0;
      flex: 0 0 27.5%;

      border-right: solid 1px $color-dark-gray;
      border-top: solid 1px $color-dark-gray;
      background-color: $color-light-gray;

      &:nth-of-type(1) {
        border-top: none;
      }

      @include max-screen($breakpoint-mobile) {
        width: 43%;
        flex: 0 0 43%;
        justify-content: flex-start;
        padding: 12.5px 15px;
      }
    }

    > dd {
      width: 72.5%;
      padding: 12.5px 22px;
      flex: 1 0 72.5%;

      border-top: solid 1px $color-dark-gray;

      &:nth-of-type(1) {
        border-top: none;
      }

      @include max-screen($breakpoint-mobile) {
        width: 57%;
        flex: 1 0 57%;
      }
    }
  }

  @include max-screen($breakpoint-mobile) {
    width: 57%;
    flex: 1 0 57%;
  }
}

.job__main-list-term--mobile-full {
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    flex: 1 0 100%;
    justify-content: center;
  }
}

.job__main-list-data--half {
  width: 25%;
  flex: 1 0 25%;

  @include max-screen($breakpoint-mobile) {
    width: 57%;
    flex: 1 0 57%;
  }
}

.job__main-list-data--mobile-full {
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    flex: 1 0 100%;
  }
}

.job__main-address {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 38px;

  > * {
    width: 48%;

    @include max-screen($breakpoint-mobile) {
      width: 100%;
    }
  }

  @include max-screen($breakpoint-mobile) {
    flex-direction: column;
  }
}

.job__main-address-holder {}

.job__main-address-holder-img {}

.job__main-address-list {
  padding-top: 15px;

  > dt {
    font-weight: 700;
    letter-spacing: 0.06em;
    color: $color-white;

    display: inline-block;
    padding: 3px 6px;
    margin-top: 15px;
    background-color: $color-dark-yellow;


    &:first-child {
      margin-top: 0;
    }
  }

  > dd {
    line-height: 1.857;
    letter-spacing: 0.06em;
    white-space: pre-line;

    margin-top: 3px;
  }
}
