.jobs-list {}

.jobs-list--titled {
  .jobs-list__item {
    &:first-child {
      border-top: solid 2px $color-dark-yellow;
    }
  }
}

.jobs-list__item {
  padding: 38px 0 29px;
  border-top: solid 1px $color-dark-gray;
}

.jobs-list__title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;

  margin-bottom: 10px;
  padding-top: 18px;
}

.job-list__item-top {
  display: flex;
}

.job-list__item-top-left {
  width: 320px;
  flex: 0 0 320px;
}

.job-list__item-top-right {
  flex: 1;
  margin-top: 12px;
  margin-left: 30px;
}

.job-list__item-content {
  margin-top: 22px;
}

.job-list__item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;
}

.job-list__item-eyecatch {
  position: relative;
  max-height: 192px;

  &:before {
    content: '';
    padding-top: 60%;
    display: block;
  }
}

.job-list__item-eyecatch-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
}

.job-list__item-company {
  display: flex;
  align-items: center;

  > img {
    flex: 0 0 29px;

    width: 29px;
    height: 31px;
    object-fit: cover;
    border-radius: 2px;
  }
}

.job-list__item-company-name {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;

  flex: 1;
  margin-left: 16px;
}

.job-list__item-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.762;
  letter-spacing: 0.06em;

  margin-top: 29px;
}

.job-list__item-description {
  letter-spacing: 0.06em;
  line-height: 1.857;
}

.job-list__item-pills {
  display: flex;
  justify-content: center;
}

.job-list__item-pills-item {
  margin-right: 5px;
}
