.jobs {}

.jobs__top {
  display: flex;
}

.jobs__top-left {
  width: 320px;
  flex: 0 0 320px;
}

.jobs__top-right {
  flex: 1;
  margin-top: 12px;
  margin-left: 30px;
}

.jobs__content {
  margin-top: 22px;
}

.jobs__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;
}

.jobs__eyecatch {
  position: relative;
  max-height: 192px;

  &:before {
    content: '';
    padding-top: 60%;
    display: block;
  }
}

.jobs__eyecatch-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
}

.jobs__company {
  display: flex;
  align-items: center;

  > img {
    flex: 0 0 29px;

    width: 29px;
    height: 31px;
    object-fit: cover;
    border-radius: 2px;
  }
}

.jobs__company-name {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;

  flex: 1;
  margin-left: 16px;
}

.jobs__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.762;
  letter-spacing: 0.06em;

  margin-top: 29px;
}

.jobs__description {
  letter-spacing: 0.06em;
  line-height: 1.857;
}

.jobs__pills {
  display: flex;
  justify-content: center;
  list-style: none;
}

.jobs__pills-item {
  margin-right: 5px;
}

.jobs-list {
  flex: 1;
  margin-left: 40px;
  align-self: stretch;
}

.jobs-list__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
}

.jobs-list__content {}

.jobs-list__footer {
  text-align: center;

  padding: 60px 0 60px;
  border-top: solid 1px $color-dark-gray;
}

.jobs-list__fraction {
  font-family: $alt-font-family;
  font-size: 20px;
}

.jobs-list__fraction-numeration {
  font-family: $alt-font-family;
  font-size: 26px;
  font-weight: 700;
  color: $color-dark-yellow;

  position: relative;
  top: -7px;
}

.jobs-list__actions {}

.jobs-list__actions-button {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: $color-medium-black;

  &:first-child {
    margin-right: 26px;
  }

  &.is-active {
    color: $color-dark-yellow;
  }
}

.jobs-list__posts {
  list-style: none;
}

.jobs-list__posts-item {
  padding: 38px 0 29px;
  border-top: solid 1px $color-dark-gray;
}
