.jobs {}

.jobs-list {
  flex: 1;
  margin-left: 40px;
  align-self: stretch;
}

.jobs-list__top {}

.jobs-list__content {}

.jobs-list__footer {
  text-align: center;

  padding: 60px 0 60px;
  border-top: solid 1px $color-dark-gray;
}
