.loading {
  display: block;
}

.loading--full {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.loading--padded {
  padding: 40px 0;
}

.loading--overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba($color-white, 0.7);

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }
}
