.ReactModalPortal {}

.ReactModal__Overlay {
  background-color: rgba($color-black, 0.3) !important;

  z-index: $z-max;
}

.ReactModal__Content {}

.modal {}

.modal__header {
  position: relative;
  padding: 25px 0 20px 48px;
  height: 70px;
}

.modal__header--background {
  background-color: $color-light-gray;
}

.modal__header-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.modal__header-button {
  position: absolute;
  top: calc(50% - 5px);
  right: 28px;
}

.modal__content {
  padding: 30px 50px 26px 50px;
}

.modal__content--center {
  text-align: center;
}

.modal__footer {
  padding: 12px 0 98px;
}

.modal__content-icon {
  font-size: 70px;
  color: $color-light-red;

  display: block;
  margin-top: 5px;
  margin-bottom: 24px;
}

.modal__content-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  white-space: pre-line;
}

.modal__content-remain {
  letter-spacing: 0.06em;

  margin-top: -10px;

  > span {
    font-family: $alt-font-family;
    font-size: 26px;
    font-weight: 900;
    color: $color-dark-yellow;
    letter-spacing: 0.1em;

    position: relative;
    top: 1px;
    margin-left: 5px;

    > small {
      font-family: $base-font-family;
      font-size: 16px;

      position: relative;
      top: -1px;
    }
  }
}

.modal__content-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.06em;

  margin-top: 60px;
  margin-bottom: -5px;
}

.modal__content-pills {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 40px 0 12px;
}

.modal__content-pills-button {
  font-size: 20px;
  font-weight: 700;

  margin-top: 15px;
  padding: 9px 0;
  width: 240px;

  &:first-child {
    margin-top: 0;
  }
}

.modal__content-form {}

.modal__content-form-avatar {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 0 auto;

  &:before {
    content: '';
    padding-top: 100%;
    display: block;
  }
}

.modal__content-form-avatar-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: whitesmoke;
  background-position: center;
  background-size: cover;

  border-radius: 50%;
}

.modal__content-form-eyecatch {
  position: relative;
  max-height: 203px;

  &:before {
    content: '';
    padding-top: 34%;
    display: block;
  }
}

.modal__content-form-eyecatch--portfolio {
  &:before {
    padding-top: 70%;
  }
}

.modal__content-form-eyecatch-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
}

.modal__content-form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 21px;
  margin-bottom: 27px;

  > button {
    width: 142px;
  }
}

.modal__content-form-actions-button {
  font-size: 14px;
  letter-spacing: 0.12em;
  color: $color-medium-black;

  margin-top: 12px;
  background-color: transparent !important;

  i {
    font-size: 10px;
    margin-right: 5px;
  }

  &.is-disabled {
    color: $color-dark-gray;
  }
}

.modal__content-form-portfolio {
  display: flex;
  align-items: flex-start;
}

.modal__content-form-portfolio-left {
  width: 200px;
  flex: 0 0 200px;
}

.modal__content-form-portfolio-right {
  flex: 1;
  margin-top: -2px;
  margin-left: 30px;
}

.modal__content-form-group {
  margin-top: 28px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 30px;
  }
}

.modal__content-form-group-label {
  font-weight: 700;
  letter-spacing: 0.06em;

  margin-bottom: 5px;
}

.modal__content-form-group-input {
  width: 100%;
  padding: 5px 0 5px 14px;
  min-height: 40px;

  resize: none;
  border: solid 1px $color-dark-gray;
}

.modal__actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  > button {
    width: 165px;
  }
}

.modal__actions--cto {
  flex-direction: row;
  justify-content: space-between;

  margin: 0 -20px;
  padding: 45px 50px 55px;
}

.modal__actions-button {
  font-size: 14px;
  letter-spacing: 0.12em;
  color: $color-dark-gray;

  margin-top: 9px;

  > i {
    font-size: 10px;
    margin-right: 5px;
  }
}
