.nada {
  font-size: 16px;
  letter-spacing: 0.06em;

  margin-bottom: 15px;
}

.nada--center {
  padding: 60px 0;
  text-align: center;
}

.nada__emphasize {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.12em;

  display: block;
}
