.notifications-main {
  position: relative;
  padding: 20px 20px 40px;
  border-bottom: solid 1px $color-dark-gray;
}

.notifications-main__title {
  font-size: 16px;
  font-weight: 700;
  color: $color-medium-black;
  letter-spacing: 0.06em;

  margin-top: 15px;
}

.notifications-main__schedule {
  color: $color-dark-gray;
  letter-spacing: 0.06em;

  margin-right: 15px;
}

.notifications-main__action {
  position: absolute;
  right: 20px;
  top: calc(50% - 7px);

  display: none;
  z-index: $z-min;

  &:hover i {
    color: $color-dark-yellow;
  }

  &.is-active {
    display: block;
  }
}

.notifications-section {}

.notifications-section__content {}

.notifications-section__footer {
  padding: 100px 0 60px;
}

.notifications-list {}

.notifications-list__item {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}
