.notification {
  margin: -5px 0 60px;

  @include max-screen($breakpoint-mobile) {
    margin: 10px 0 60px;
  }
}

.notification__top {
  display: flex;
  justify-content: space-between;

  @include max-screen($breakpoint-mobile) {
    flex-direction: column-reverse;
  }
}

.notification__title {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.06em;

  @include max-screen($breakpoint-mobile) {
    margin-top: 5px;
  }
}

.notification__schedule {
  font-size: 16px;
  color: $color-dark-gray;
  letter-spacing: 0.06em;

  margin-top: 5px;
}

.notification__desc {
  line-height: 1.857;
  letter-spacing: 0.06em;
  white-space: pre-line;

  padding-top: 35px;
  margin-top: 17px;
  border-top: solid 1px $color-dark-gray;

  > a {
    color: $color-dark-yellow;
    text-decoration: underline;
  }
}

.notification__button {
  display: inline-block;
  margin-top: 37px;
}
