.pagescroll {
  position: absolute;
  left: 20px;
  top: calc(100vh - 184px);

  overflow: visible;
  z-index: $z-min2;

  @include max-screen($breakpoint-mobile) {
    display: none;
  }
}

.pagescroll__icon {
  display: block;
  height: 86px;
  width: 1px;
  margin: 0 20px;

  position: relative;
  background: $color-medium-black;

  &:before {
    content: "SCROLL DOWN";
    font-family: $alt-font-family;
    font-size: 11px;
    letter-spacing: 0.15em;
    color: $color-medium-black;

    position: absolute;
    left: -9px;
    top: -110px;

    writing-mode: vertical-lr;
  }
}
