.pill {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;

  padding: 2px 15px;

  border: solid 1px $color-dark-yellow;
  border-radius: 30px;
}

.pill--large {
  padding: 4px 15px;
}

.pill--active {
  color: $color-white;
  background-color: $color-dark-yellow;
}

.pill--icon {
  font-size: 13px;
  border-radius: 0;

  position: relative;
  padding: 4px 20px 4px 0;

  &:before {
    content: '';
    position: absolute;
    background-color: $color-dark-yellow;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
  }

  > i {
    color: $color-white;

    position: relative;
    padding-right: 30px;
    left: 6px;
  }

  &.is-active {
    font-weight: 700;

    border: solid 1px $color-light-gray;

    &:before {
      background-color: $color-light-gray;
    }

    > i {
      color: $color-dark-yellow;
    }
  }
}

.pill--clear {
  font-size: 16px;
  text-align: left;

  padding: 0;
  border: none;
}

.pill--button {
  font-weight: 700;
  color: $color-white;

  background-image: $gradient;
}
