.privacy {}

.privacy__note {
  font-weight: 400;
  line-height: 1.857;
  letter-spacing: 0.06em;

  margin-top: -10px;

  span {
    font-size: 16px;
    font-weight: 700;
    color: $color-dark-yellow;
  }
}

.privacy-list {}

.privacy-list__item {
  margin-top: 60px;

  counter-increment: counterHeader 0;
  > h3 {
    &:before {
      content: "第"counter(counterHeader) "条";
      counter-increment: counterHeader;
    }
  }

  ol {
    list-style: none !important;
  }

  li {
    letter-spacing: 0.06em;
    line-height: 1.857;
  }

  > ol {
    counter-increment: counter1 0;
    padding: 8px 0 0 20px;

    > li {
      position: relative;
      padding-left: 22px;
      margin-top: 11px;

      &:first-child {
        margin-top: 0;
      }

      &:before {
        position: absolute;
        left: 0;

        content: counter(counter1) ". ";
        counter-increment: counter1;
      }

      > ol {
        counter-increment: counter2 0;
        padding-top: 13px;

        > li {
          position: relative;
          padding-left: 34px;
          margin-top: 7px;

          &:before {
            position: absolute;
            left: 0;

            content: counter(counter1) "." counter(counter2) ". ";
            counter-increment: counter2;
          }

          > ol {
            counter-increment: counter3 0;
            padding: 10px 0 5px;
            margin-left: -15px;

            li {
              position: relative;
              padding-left: 48px;
              margin-top: 7px;

              &:before {
                position: absolute;
                left: 0;

                content: counter(counter1) "." counter(counter2) "." counter(counter3) ". ";
                counter-increment: counter3;
              }
            }
          }
        }
      }
    }
  }
}

.privacy-list__item-header {
  font-size: 16px;
  letter-spacing: 0.06em;

  margin-bottom: 25px;
  padding-bottom: 14px;
  border-bottom: solid 1px $color-dark-gray;
}

.privacy-list__item-desc {
  line-height: 1.857;
  letter-spacing: 0.06em;

  margin-bottom: 11px;

  span {
    font-size: 16px;
    font-weight: 700;
    color: $color-dark-yellow;
  }
}

.privacy__sub {
  letter-spacing: 0.06em;
  color: rgba($color-medium-black, 0.5);

  margin-top: 55px;
}
