.profile {}

.profile__title {
  font-family: $alt-font-family;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.1em;
  color: $color-dark-yellow;
}

.profile__title-jp {
  font-weight: 700;
  letter-spacing: 0.06em;
}
