.profile {
  margin-right: 60px;

  align-self: stretch;
}

.profile-data {
  margin-bottom: 53px;
}

.profile-data__heading {
  text-align: center;

  padding: 20px 0 36px;
}

.profile-data__heading-title {
  font-family: $alt-font-family;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.1em;
  color: $color-dark-yellow;
}

.profile-data__heading-jp {
  font-weight: 700;
  letter-spacing: 0.06em;
}

.profile-data__section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  list-style: none;
  margin: 0 -15px;
}

.profile-data__section--half {
  .profile-data__section-item {
    width: 50%;

    &:nth-child(-n + 2) {
      margin-top: 0;
    }
  }
}

.profile-data__section-item {
  margin-top: 30px;
  padding: 0 15px;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }
}

.profile-data__section-box {
  padding: 28px 30px 30px;

  border: solid 1px $color-dark-gray;
}

.profile-data__section-heading {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;

  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: solid 1px $color-dark-gray;
}

.profile-data__section-desc {
  font-weight: bold;
  letter-spacing: 0.06em;
}

.profile-data__skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-data__skills--full {
  .profile-data__skills-term {
    width: 100%;
    flex: 100%;
  }

  .profile-data__skills-data {
    width: 100%;
    flex: 100%;
    margin-top: 8px;
  }
}

.profile-data__skills-term {
  font-weight: 700;
  letter-spacing: 0.06em;

  width: 75%;
  flex-basis: 75%;
  margin-top: 21px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

}

.profile-data__skills-data {
  letter-spacing: 0.06em;

  width: 25%;
  flex-basis: 25%;
  margin-top: 21px;

  &:nth-of-type(1) {
    margin-top: 0;
  }
}

.profile-data__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7px 9px 7px 12px;
  border: solid 1px $color-dark-gray;
}
