.scouts-list {}

.scouts-list__item {
  border: solid 1px $color-light-gray;

  margin-top: 25px;
}

.scouts {
  display: flex;
  align-items: center;

  padding: 25px;
  background-color: $color-white;

  transition: background-color $duration $easing-cubic;

  &:hover {
    background-color: $color-light-gray;
  }
}

.scouts__left {
  display: flex;
  width: 65%;
  flex: 0 0 65%;
}

.scouts__left-inner {
  width: 265px;
  flex: 0 0 265px;

  &:last-child {
    margin-top: 25px;
    margin-left: 35px;
  }
}

.scouts__right {
  position: relative;

  flex: 1;
}

.scouts__eyecatch {
  position: relative;
  max-height: 159px;

  &:before {
    content: '';
    padding-top: 60%;
    display: block;
  }
}

.scouts__eyecatch-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
}

.scouts__company {
  display: flex;
  align-items: center;

  > img {
    flex: 0 0 29px;

    width: 29px;
    height: 31px;
    object-fit: cover;
    border-radius: 2px;
  }
}

.scouts__company-name {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.06em;

  flex: 1;
  margin-left: 16px;
}

.scouts__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.06em;

  margin-top: 12px;
}

.scouts__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    width: 50%;
    flex: 0 0 50%;

    padding: 5px 0;
  }

  &.is-hidden {
    display: none;
  }
}

.scouts__list-term {
  letter-spacing: 0.06em;
}

.scouts__list-data {
  font-weight: 700;
  letter-spacing: 0.06em;
}

.scouts__action {
  position: absolute;
  top: calc(50% - 21px);

  margin-left: 125px;
  opacity: 0;
  transform: translateY(15px);

  transition: opacity $duration $easing-cubic,
    transform $duration $easing-cubic;

  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}
