.scout-list__container {
  position: relative;
  padding: 45px 50px 50px;
  margin-top: 38px;
  background-color: $color-white;
}

.scout-list__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.06em;

  padding-bottom: 14px;
  border-bottom: solid 1px $color-dark-yellow;
}

.scout-list__search {
  position: absolute;
  top: 32px;
  right: 15px;
}

.scout-list__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}

.scout-list__filters {
  display: flex;
  align-items: center;
}

.scout-list__filters-item {
  margin-right: 10px;
}

.scout-list {}

.scout-list__item {
  padding: 50px 30px 40px;
  margin-top: 25px;

  border: solid 1px $color-dark-gray;
}

.scout-list__item-top {
  display: flex;
  align-items: center;

  margin-bottom: 30px;
}

.scout-list__item-top-left {
  width: 90px;
  flex: 0 0 90px;
}

.scout-list__item-top-avatar { }

.scout-list__item-top-right {
  flex: 1;
  margin-left: 22px;
}

.scout-list__item-top-header {
  display: flex;
  align-items: center;

  line-height: 1;
}

.scout-list__item-top-name {
  letter-spacing: 0.06em;
  color: $color-dark-gray;

  display: inline;
  margin-right: 28px;

  > span {
    font-size: 20px;
    font-weight: 700;
    color: $color-medium-black;

    margin-right: 10px;

  }
}

.scout-list__item-top-pills {
  display: flex;
  align-items: center;

  margin-top: 20px;
}

.scout-list__item-top-pills-item {
  margin-right: 35px;
}

.scout-list__item-content {}

.scout-list__item-content-list {}

.scout-list__item-content-list-item {
  display: flex;
  align-items: flex-start;

  padding: 27px 0 25px;
  border-bottom: solid 1px $color-dark-gray;

  &:first-child {
    border-top: solid 1px $color-dark-gray;
  }

  > h5 {
    font-weight: 700;
    letter-spacing: 0.06em;
    white-space: nowrap;

    flex: 0 0 157px;
    width: 157px;
  }

  > p,
  > div {
    line-height: 1.857;
    letter-spacing: 0.06em;
    white-space: pre-line;

    flex: 1;
    margin-left: 25px;
  }

  dl {
    display: flex;
    flex-wrap: wrap;

    dt {
      letter-spacing: 0.06em;

      width: 25%;
      flex: 0 0 25%;
    }

    dd {
      letter-spacing: 0.06em;

      width: auto;
      margin-right: 55px;
    }
  }
}

.scout-list__item-bottom {
  margin: 26px auto -4px;
  text-align: center;
}

.scout-list__pagination {
  margin: 50px;
}
