.search {
  display: block;
}

.search__group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  right: 35px;

  @include max-screen($breakpoint-mobile) {
    right: 20px;
  }
}

.search__group-append {
  position: absolute;
  right: 19px;

  @include max-screen($breakpoint-mobile) {
    right: 10px;
  }
}

.search-tab {
  display: flex;
  align-items: flex-start;
}

.search-tab__list {
  width: 280px;
  flex: 0 0 280px;
}

.search-tab__list-item {
  font-size: 15px;
  font-weight: 700;
  color: $color-medium-black;
  letter-spacing: 0.12em;

  cursor: pointer;

  padding: 14px 0 14px 37px;
  border-left: solid 5px transparent;

  &.is-active {
    color: $color-dark-yellow;

    cursor: default;
    border-left: solid 5px $color-dark-yellow;
    border-radius: 0;
  }

  &.is-disabled,
  &.react-tabs__tab--disabled {
    pointer-events: none;
  }
}

.search-tab__panel {
  position: relative;
  display: none;
  flex: 1;
  margin-left: 40px;
}

.search-tab__panel-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.06em;

  margin-top: -5px;
  margin-bottom: -7px;
}

.search-tab__panel-content {
  margin-top: 30px;
  padding: 18px 30px 25px;
  border: solid 1px $color-dark-gray;
}

.search-tab__panel-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-tab__panel-content-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.search-tab__panel-content-main {
  margin-top: 3px;
}

.search-tab__panel-content-list {}

.search-tab__panel-content-item {
  display: flex;
  align-items: center;

  padding: 19px 0;
  border-top: solid 1px $color-dark-gray;

  &:first-child {
    padding-top: 35px;
    border-top: solid 1px $color-dark-yellow;
  }

  > img {
    flex: 0 0 29px;

    width: 29px;
    height: 31px;
    object-fit: cover;
  }
}

.search-tab__panel-content-item--jobs {
  align-items: flex-start;

  padding: 25px 0;

  &:first-child {
    padding-top: 40px;
  }
}

.search-tab__panel-content-item-left {
  width: 165px;
  flex: 0 0 165px;
}

.search-tab__panel-content-item-right {
  flex: 1;
  margin-left: 25px;
}

.search-tab__panel-content-eyecatch {
  position: relative;
  max-height: 96px;

  &:before {
    content: '';
    padding-top: 60%;
    display: block;
  }
}

.search-tab__panel-content-eyecatch-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
}

.search-tab__panel-content-company {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: $color-medium-black;

  flex: 1;
  margin-left: 16px;
}

.search-tab__panel-content-pills {
  margin-bottom: 15px;
}

.search-tab__panel-content-pills-item {
  display: inline-block;

  margin-right: 5px;
}

.search-tab__panel-content-job {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.06em;
  color: $color-medium-black;
  white-space: pre-line;
}

.search-tab__panel-content-bottom {
  text-align: center;

  padding-top: 25px;
  border-top: solid 1px $color-dark-gray;
}
