.seeker-list__container {
  position: relative;
  padding: 45px 50px 50px;
  margin-top: 38px;
  background-color: $color-white;
}

.seeker-list__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.06em;

  padding-bottom: 14px;
  border-bottom: solid 1px $color-dark-yellow;

  @include max-screen($breakpoint-mobile) {
    font-size: 14px;
  }
}

.seeker-list__search {
  position: absolute;
  top: 32px;
  right: 15px;
}

.seeker-list__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 0 -5px;
}

.seeker-list__filters {
  display: flex;
  align-items: center;
}

.seeker-list__filters-item {
  margin-right: 10px;
}

.seeker-list {}

.seeker-list__item {
  display: flex;
  align-items: center;

  padding: 25px 0;
  border-bottom: solid 1px $color-dark-gray;
}

.seeker-list__item-left {
  width: 90px;
  flex: 0 0 90px;

  @include max-screen($breakpoint-mobile) {
    width: 60px;
    flex: 0 0 60px;
    margin-top: -60px;
    align-self: flex-start;
  }
}

.seeker-list__item-avatar { }

.seeker-list__item-right {
  flex: 1;
  margin-left: 25px;

  @include max-screen($breakpoint-mobile) {
    margin-left: 12px;
  }
}

.seeker-list__item-right-top {
  display: flex;
  align-items: center;

  @include max-screen($breakpoint-mobile) {
    flex-direction: column-reverse;
    align-items: flex-start;

    > .pill {
      font-size: 10px;
      font-weight: 600;
    }
  }
}

.seeker-list__item-name {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;

  margin-right: 15px;

  @include max-screen($breakpoint-mobile) {
    font-size: 14px;
  }
}

.seeker-list__item-right-bottom {
  display: flex;
  align-items: center;

  margin-top: 16px;

  @include max-screen($breakpoint-mobile) {
    flex-wrap: wrap;
    margin-left: -70px;
    justify-content: space-between;
  }
}

.seeker-list__item-description {
  font-size: 15px;
  line-height: 0.867;
  letter-spacing: 0.06em;

  margin-right: 15px;

  @include max-screen($breakpoint-mobile) {
    font-size: 14px;
    flex: 0 1 100%;
  }
}

.seeker-list__item-tag {
  font-weight: 700;
  color: $color-dark-gray;
  letter-spacing: 0.06em;

  background-color: $color-light-gray;
  padding: 2px 5px;

  @include max-screen($breakpoint-mobile) {
    font-size: 10px;
    margin-top: 8px;
  }
}

.seeker-list__item-time {
  flex: 1;

  color: $color-dark-gray;
  text-align: right;
  letter-spacing: 0.06em;

  @include max-screen($breakpoint-mobile) {
    font-size: 11px;
    margin-top: 8px;
  }
}

.seeker-list__button {
  text-align: center;
  margin-top: 25px;
}

.seeker-list__pagination {
  margin: 40px 0 -15px;
}
