.sidebar {
  display: flex;
  flex-direction: column;

  width: 300px;
  flex: 0 0 300px;
  align-self: stretch;
}

.sidebar--single {
  position: relative;

  background-color: $color-light-gray;

  &:after {
    content: '';
    position: absolute;
    height: 13px;
    width: 100%;
    top: 46px;

    background-color: $color-white;
  }
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
  flex: 1;

  margin-top: 30px;

  &:first-child {
    flex: 0;
    margin-top: 0;
  }
}

.sidebar__header {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-white;

  position: relative;
  padding: 11px;
  background-color: $color-medium-black;
}

.sidebar-content {
  flex: 1;
  margin-top: 13px;
  padding: 35px 32px 38px;

  background-color: $color-light-gray;
}

.sidebar-content__basic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sidebar-content__basic-term {
  width: 50%;
  flex-basis: 50%;
  margin-top: 14px;

  letter-spacing: 0.06em;

  &:nth-of-type(1) {
    margin-top: 0;
  }
}

.sidebar-content__basic-data {
  width: 50%;
  flex-basis: 50%;
  margin-top: 14px;

  font-weight: 700;

  &:nth-of-type(1) {
    margin-top: 0;
  }
}

.sidebar-content__scores {}

.sidebar-content__scores-item {
  margin-top: 40px;

  &:first-child {
    margin-top: 0;
  }

  dt {
    color: $color-dark-yellow;
    letter-spacing: 0.06em;

    margin-bottom: 8px;
    margin-top: 24px;

    &:nth-of-type(1) {
      margin-top: 0;
    }
  }

  dt + dd {
    margin-top: 0;
  }

  dd {
    font-weight: 700;
    letter-spacing: 0.06em;

    margin-top: 6px;

    span {
      font-weight: 400;

      display: block;
      margin-bottom: 15px;
    }
  }
}

.sidebar-content__scores-category {
  font-size: 16px;
  letter-spacing: 0.06em;

  margin-bottom: 27px;
  padding-bottom: 3px;
  border-bottom: solid 1px $color-dark-gray;
}

.sidebar-content__company {
  margin: 0 -32px;
}

.sidebar-content__company-items {
  border-top: solid 1px $color-white;
  padding: 35px 32px;

  &:first-child {
    padding-top: 0;
    border-top: none;
  }
}

.sidebar-content__sns {
  display: flex;
  justify-content: center;
}

.sidebar-content__sns-item {
  margin: 0 15px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px $color-dark-yellow;

    font-size: 18px;
    color: $color-dark-yellow;

    transition: opacity $duration $easing-cubic;

    &:hover {
      opacity: 0.7;
    }
  }
}

.sidebar-content__misc {
  display: flex;
  align-items: flex-start;

  margin-top: 18px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  > i {
    font-size: 20px;
    margin-right: 20px;
  }
}

.sidebar-content__misc-copy {
  line-height: 1.857;
  letter-spacing: 0.06em;

  white-space: pre-line;
}

.sidebar-content__avatar {
  text-align: center;

  > img {
    width: 65px;
    height: 65px;
    margin: 20px 0 13px 0;

    object-fit: cover;
  }
}

.sidebar-content__avatar-name {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
}
