$container-width: 60px;

.swiper-container {
  overflow: visible !important;
  margin-left: $container-width !important;
  margin-bottom: 60px;
}

.swiper-slide {
  &.slider {
    position: relative;
    height: calc(100vh - 98px);
    min-height: 660px;
  }

  .slider__eyecatch {
    position: relative;
    height: 100%;
    width: calc(100vw - 272px);
    min-width: 1100px;

    &:before {
      content: '';
      padding-top: 65%;
      display: block;
    }
  }

  .slider__eyecatch-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
  }

  .slider-content {
    position: absolute;
    width: calc(50% - 144px);
    top: calc(50% - 25px);
    right: 0;

    padding: 55px 62px 100px 58px;

    background-color: $color-white;
    box-shadow: $alt-shadow;
    z-index: 1;

    > img {
      float: left;
      width: 50px;
      height: 50px;
    }
  }

  .slider-content__top {
    padding-left: 64px;
    margin-top: 8px;
  }

  .slider-content__main {
    padding-top: 30px;
    margin-top: 25px;

    border-top: solid 1px $color-dark-gray;
  }

  .slider-content__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.06em;
  }

  .slider-content__desc {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: $color-medium-black;
  }

  .slider-content__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
  }

  .slider-content__pills {
    display: flex;
    justify-content: center;
  }

  .slider-content__pills-item {
    margin-right: 5px;
  }

  .slider-content__fav {
    margin-right: 85px;
  }
}

.swiper-pagination {
  &.slider-pagination {
    position: absolute;
    top: 23px;
    left: auto !important;
    right: 112px;
    width: auto !important;
  }

  .slider-pagination__item {
    position: relative;
    width: 55px;
    height: 55px;

    cursor: pointer;
  }

  .slider-pagination__item-number {
    font-family: $alt-font-family;
    font-size: 16px;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .slider-pagination__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: $z-min;
  }

  .slider-pagination__item-svg {
    > .path-progress {
      fill: none;
      stroke: $color-black;
      stroke-miterlimit: 10;
      stroke-width: 2px;
      stroke-dashoffset: 252.378;
      stroke-dasharray: 0px, 999999px;

      // stroke-dashoffset: 105.872;
      // stroke-dasharray: 252.378px, 262.378px;
    }

    > .path-bg {
      fill: none;
      stroke: rgba($color-black, 0.15);
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }

  .slider-pagination__item-line {
    position: absolute;
    top: calc(50% - 1px);
    left: -100px;
    width: 113px;
    height: 1px;

    background-color: $color-dark-gray;
  }
}
