$container-width: 60px;

.swiper-container {
  overflow: visible !important;
  margin-left: $container-width !important;
  margin-bottom: 60px;
}

.swiper-slide {
  &.slider {
    position: relative;
    height: calc(100vh - 98px);
    min-height: 660px;
  }

  .slider__eyecatch {
    width: calc(100% - (#{$container-width} + 144px));
    height: 100%;
    overflow: hidden;

    img {
      vertical-align: middle;
      width: 100%;
      object-fit: cover;
    }
  }

  .slider__eyecatch-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#2a77b1,#0fafb4);
    background-position: center;
    background-size: cover;
  }

  .slider-content {
    position: absolute;
    width: calc(50% - 144px);
    top: calc(50% - 25px);
    right: 0;

    padding: 55px 62px 100px 58px;

    background-color: $color-white;
    box-shadow: $alt-shadow;
    z-index: 1;

    > img {
      float: left;
      width: 50px;
      height: 50px;
    }
  }

  .slider-content__top {
    padding-left: 64px;
    margin-top: 8px;
  }

  .slider-content__main {
    padding-top: 30px;
    margin-top: 25px;

    border-top: solid 1px $color-dark-gray;
  }

  .slider-content__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.06em;
  }

  .slider-content__desc {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
  }

  .slider-content__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
  }

  .slider-content__pills {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .slider-content__pills-item {
    margin-right: 5px;
  }

  .slider-content__fav {
    margin-right: 85px;
  }
}
