.terms {}

.terms__sub {
  letter-spacing: 0.06em;

  margin-top: 60px;
}

.terms-list {
  margin-top: -3px;
}

.terms-list__item {
  margin-top: 60px;

  counter-increment: counterHeader 0;
  > h3 {
    &:before {
      content: counter(counterHeader) ". ";
      counter-increment: counterHeader;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  ol {
    list-style: none !important;
  }

  li {
    letter-spacing: 0.06em;
    line-height: 1.857;

    h4 {
      font-size: 14px;
      letter-spacing: 0.06em;

      display: inline-block;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.06em;

      white-space: pre-line;
    }
  }

  > ol {
    font-weight: bold;

    counter-increment: counter1 0;
    padding: 6px 0 0 19px;

    > li {
      font-size: 16px;

      position: relative;
      padding-left: 40px;
      margin-top: 11px;

      &:first-child {
        margin-top: 0;
      }

      &:before {
        position: absolute;
        left: 0;

        content: counter(counterHeader) "." counter(counter1) ". ";
        counter-increment: counter1;
      }

      > ol {
        counter-increment: counter2 0;
        padding-top: 9px;
        margin-left: -15px;

        > li {
          position: relative;
          margin-top: 2px;

          &:before {
            content: counter(counterHeader) "." counter(counter1) "." counter(counter2) ". ";
            counter-increment: counter2;
          }
        }
      }

      > ul {
        list-style-type: disc;

        margin-top: 16px;
        padding-left: 4px;

        > li {
          font-size: 14px;
          font-weight: 400;

          margin-top: 7px;
        }
      }
    }
  }

  @include max-screen($breakpoint-mobile) {
    > ol {
      padding: 6px 0 0 10px;

      > li > ol {
        padding-left: 15px;
      }
    }
  }
}

.terms-list__item-header {
  font-size: 16px;
  letter-spacing: 0.06em;

  margin-bottom: 25px;
  padding-bottom: 14px;
  border-bottom: solid 1px $color-dark-gray;
}

.terms-list__item-desc {
  white-space: pre-line;

  line-height: 1.857;
  letter-spacing: 0.06em;

  margin-bottom: 11px;
}
