.l-container {
  padding: 0 20px;
  margin: 0 auto;
  width: $site-size;
  box-sizing: border-box;
}

.l-container--wide {
  max-width: calc(100% - 80px);
}

.l-container--main {
  display: flex;
  align-items: flex-start;
}
