.l-footer {
  position: relative;
  text-align: center;
}

.l-footer__top {
  padding: 50px 0 60px;
  background-color: $color-yellow;
  background-image: $gradient;
  background-size: cover;

  @include max-screen($breakpoint-mobile) {
    padding: 67px 0 73px;
  }
}

.l-footer__bottom {
  padding: 25px 0;
  background-color: $color-medium-black;

  @include max-screen($breakpoint-mobile) {
    padding: 18px 0;
  }
}
