.l-header {
  position: relative;
  height: 98px;

  display: flex;
  align-items: center;

  @include max-screen($breakpoint-mobile) {
    height: 58px;
  }
}

.l-header__left,
.l-header__right {
  display: flex;
  align-items: center;
}

.l-header__left {
  min-width: 430px;

  @include max-screen($breakpoint-mobile) {
    min-width: 30px;
  }
}
