// line-clamp function
@mixin line-clamp($line-height, $font-size, $lines, $color) {
  position: relative;
  overflow: hidden;
  text-align: justify;

  height: $font-size * $line-height * $lines + px;

  line-height: $line-height;

  word-break: break-all;
  &:before,
  &:after {
    position: absolute;
  }
  &:before {
    content: '...';

    top: $font-size * $line-height * ($lines - 1) + px;
    right: 0;
    text-align: center;

    background: $color;

    width: 1em;
  }
  &:after {
    content: '';

    background: 0;
    background: $color;

    width: 100%;
    height: 100%;

    z-index: 2;
  }
}
